.chartSection {
  padding: 10px;
}

.chartSection h3 {
  margin: 0;
  margin-bottom: 10px;
}

.chartSectionHeader {
  display: flex;
  justify-content: space-between;
}

.chartSectionHeader button {
  background: transparent;
  color: inherit;
  border: none;
}

.chartSectionHeader button:hover, .chartSectionHeader button:active {
  color: rgb(252, 82, 0);
}

.chart {

  display: flex;
}

.chart small {
  font-size: 11px;
  line-height: 11px;
}
.daysName {
  display: flex;
  flex-direction: column;
}
.daysName div {
  height: 1em;
  margin: 1px;
  line-height: 1em;
  text-align: right;
  line-height: 11px;
  text-transform: uppercase;
    font-weight: lighter;
}

.daysName div:first-child {
  margin-top: calc(1em + 3px);
}

.main {
  flex-grow: 4;
overflow-x: auto;
white-space: nowrap
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 8em;
  align-items: flex-start;
  justify-content: flex-start;
  width: fit-content;
  z-index: 3;
}

.empty_point {
  width: 1em;
  height: 1em;
  margin: 1px;
  overflow: hidden;
  line-height: 1em;
  background-color: rgba(27, 31, 35, 0.06);
  z-index: 2;
  color: rgba(27, 31, 35, 0.2);
  line-height: 10px;
  text-align: center;
}

.point {
  width: 1em;
  height: 1em;
  background-color: rgb(252, 82, 0);
  margin: 1px;
  overflow: hidden;
  z-index: 2;
  line-height: 10px;
  text-align: center;
  cursor: pointer;
}

.point small {
  opacity: 0.5;
  color: white;
}

.monthsBar {
  height: 1em;
  margin-bottom: 2px;
  overflow: visible;
}
.month {
  display: inline-block;
  overflow: hidden;
  height: 1em;
  line-height: 1em;
  text-align: center;
  font-weight: lighter;
  z-index: 0;
  box-sizing: border-box;
}


.m1 {width: calc(1em + (1 * 2px));}
.m2 {width: calc(2em + (2 * 2px));}
.m3 {width: calc(3em + (3 * 2px));}
.m4 {width: calc(4em + (4 * 2px));}
.m5 {width: calc(5em + (5 * 2px));}
.m6 {width: calc(6em + (6 * 2px));}
